<p><img align="left"  src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/data/icons/hicolor/scalable/apps/io.missioncenter.MissionCenter.svg" alt="drawing" width="64"/> </p>
<h1 id="mission-center">Mission Center</h1>
<p><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0001-cpu-multi.png" alt=""></p>
<h4 id="monitor-your-cpu-memory-disk-network-and-gpu-usage">Monitor your CPU, Memory, Disk, Network and GPU usage</h4>
<h4 id="features-">Features:</h4>
<ul>
<li>Monitor overall or per-thread CPU usage</li>
<li>See system process, thread, and handle count, uptime, clock speed (base and current), cache sizes</li>
<li>Monitor RAM and Swap usage</li>
<li>See a breakdown how the memory is being used by the system</li>
<li>Monitor Disk utilization and transfer rates</li>
<li>Monitor network utilization and transfer speeds</li>
<li>See network interface information such as network card name, connection type (Wi-Fi or Ethernet), wireless speeds and
frequency, hardware address, IP address</li>
<li>Monitor overall GPU usage, video encoder and decoder usage, memory usage and power consumption, powered by the popular
NVTOP project</li>
<li>See a breakdown of resource usage by app and process</li>
<li>Supports a minified summary view for simple monitoring</li>
<li>Use OpenGL rendering for all the graphs in an effort to reduce CPU and overall resource usage</li>
<li>Uses GTK4 and Libadwaita</li>
<li>Written in Rust</li>
<li>Flatpak first</li>
</ul>
<h5 id="limitations-there-is-ongoing-work-to-overcome-all-of-these-">Limitations (there is ongoing work to overcome all of these):</h5>
<ul>
<li>The application currently only supports monitoring, you cannot stop processes for
example <a href="https://gitlab.com/mission-center-devs/mission-center/-/issues/1">#1</a></li>
<li>Disk utilization percentage might not be
accurate <a href="https://gitlab.com/mission-center-devs/mission-center/-/issues/2">#2</a></li>
<li>No per-process network usage <a href="https://gitlab.com/mission-center-devs/mission-center/-/issues/3">#3</a></li>
<li>No per-process GPU usage <a href="https://gitlab.com/mission-center-devs/mission-center/-/issues/4">#4</a></li>
<li>GPU support is experimental and only AMD and nVidia GPUs can be
monitored <a href="https://gitlab.com/mission-center-devs/mission-center/-/issues/5">#5</a></li>
</ul>
<h4 id="screenshots-">Screenshots:</h4>
<p><em>CPU overall view</em><br><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0002-cpu-overall.png" alt=""></p>
<p><em>Memory view</em><br><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0003-memory.png" alt=""></p>
<p><em>Disk view</em><br><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0004-disk.png" alt=""></p>
<p><em>Ethernet and Wi-Fi view</em><br><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0005-net-wired.png" alt="">
<img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0006-net-wireless.png" alt=""></p>
<p><em>GPU view</em><br><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0007-gpu-amd.png" alt="">
<img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0008-gpu-nvidia.png" alt=""></p>
<p><em>Apps page</em><br><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0009-apps.png" alt="">
<img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0010-apps-filter.png" alt=""></p>
<p><em>Dark mode</em><br><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0011-cpu-dark.png" alt="">
<img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0012-disk-dark.png" alt="">
<img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0013-gpu-nvidia-dark.png" alt="">
<img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0014-apps-dark.png" alt=""></p>
<p><em>Summary view</em><br><img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0015-cpu-summary-view.png" alt="">
<img src="https://gitlab.com/mission-center-devs/mission-center/-/raw/main/screenshots/0016-cpu-summary-view-dark.png" alt=""></p>
<p>Comments, suggestions, bug reports and contributions welcome</p>
